<h1>Lists#index</h1>
<p>Find me in app/views/lists/index.html.erb</p>
<ul>
  <% @lists.each do |list| %>
    <li><%= list.name %></li>
  <% end %>
</ul>
<%= form_tag list_path(List.all.first), method: :get do %>
  <%= label_tag :code, "Enter Code" %>
  <%= text_field_tag :code %>
  <%= submit_tag "Submit" %>
<% end %>
