<div class= "list-container p-3">
  <h1 class="list-name-container"> <%= @list.name %> list </h1>
  <p><%= @list.event_date %></p>
  <p><%= @list.description %></p>
</div>
<div class= "actions-container-list-show">
  <% if current_user && @list.user_id == current_user.id %>
    <%= link_to new_gift_path do %>
      <i class="fa-solid fa-circle-plus" style="color: #D0BDF4;"></i>
    <% end %>
  <% end %>
  <% if current_user && @list.user_id == current_user.id %>
    <%= link_to edit_list_path(@list) do  %>
      <i class="fa-regular fa-pen-to-square" style="color: #D0BDF4;"></i>
    <% end %>
  <% end %>
  <% if current_user && @list.user_id == current_user.id %>
    <%= link_to(list_path(@list),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}) do %>
      <i class="fa-solid fa-trash" style="color: #D0BDF4;"></i>
    <% end %>
  <% end %>
  <% if current_user && @list.user_id == current_user.id %>
    <a href="#" class="share-qr-code">
      <i class="fa-solid fa-qrcode" style="color: #D0BDF4;"></i>
    </a>
  <% end %>
  <div class="modal">
    <div class="model-container">
      <i class="fa-solid fa-xmark" id="close-modal" style="color: #D0BDF4;"></i>
      <canvas id="qrcode"></canvas>
    </div>
  </div>
</div>
<div class="gifts-container">
  <% @list.gifts.each do |gift|%>
    <%= link_to gift do %>
      <div class="gift">
        <% if gift.photo.attached? %>
          <%=cl_image_tag gift.photo.key %>
        <% end %>
        <div class="card-container">
          <h5 class="card_title"><%=gift.name%></h5>
          <i class="card_size"><%=gift.size%></i>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="gifts-container">
  <% @list.user_gift_recomendations.each do |gift|%>
  <%= link_to recommendation_path(gift) do %>
      <div class="gift">
        <%=image_tag gift.image %>
        <div class="card-container">
          <h5 class="card_title"><%=gift.name%></h5>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  var shareQrCode = document.querySelector(".share-qr-code");
  var modal = document.querySelector(".modal");
  var canvas = document.getElementById("qrcode");
  var close = document.getElementById("close-modal");

  var qrCode = new QRious({
    element: canvas,
    value: `<%= list_url(@list) %>`,
    size: 200
  });

  shareQrCode.addEventListener("click", (e) => {
    e.preventDefault();
    modal.classList.add("active");
  });

  close.addEventListener("click", (e) => {
    e.preventDefault();
    modal.classList.remove("active");
  });
</script>
