<h1>Find some gift ideas!</h1>
<%= link_to 'Generate recommendations', generate_recommendations_path %>
<div class="gifts-container">
  <% @recommendations.each do |r| %>
    <%= link_to recommendation_path(r) do %>
      <div class="gift">
          <%= image_tag r.image %>
        <% end %>
        <div class="card-container">
          <h5 class="card_title"><%= r.name %></h5>
        </div>
      </div>
  <% end %>

</div>
<%= paginate @recommendations %>
