<!--primer container home banner -->
<section>
  <div class="banner">
  </div>
</section>
<!--segundo container buttons -->
<section class="container2">
  <% if user_signed_in? %>
    <div class="container">
      <div class="row">
        <div class="col-6 text-center">
          <div id="create"><%= link_to new_list_path do %>
              <i class="fa-solid fa-circle-plus" style="color: #5c3d8e;"> New list</i>
            <% end %>
          </div>
        </div>
        <div class="col-6 text-center">
          <div id="see"><%= link_to lists_path do%>
              <i class="fa-solid fa-list-ul" style="color: #5c3d8e;"> View lists</i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="container">
      <h5 class="text-center"> Don't want the same Gift again? <%= link_to "Sign Up Now", new_user_registration_path %>  </h5>
      <h5 class="text-center"> Let chatGPT give you Gift Recommendations!</h5>
    </div>
  <% end %>
</section>
<!--cuarto container AI example -->
<section class="container4">
  <div class="container">
    <div class="row text-align-center text-center">
      <div class="col-5 cardai">
        <h1>AI Example</h1>
        <i class="fa-solid fa-user"></i>
        <h3 class="p-2">User Categories:</h3>
        <ul>
          <li>Sports</li>
          <li>Books</li>
          <li>Video Games</li>
        </ul>
      </div>
      <div class="col-2 icon2">
        <i class="fa-solid fa-arrow-right"></i>
      </div>
      <div class="col-5 cardai">
        <%= link_to recommendations_path do %>
          <h1>Need help? Here are some gift ideas for you!</h1>
          <i class="fa-solid fa-globe"></i>
        </div>
      <% end %>
    </div>
  </div>
</section>
<!--quinto container How it works -->
<section class="container5">
  <div class= "container p-3">
    <div class="row text-center">
      <h1 class= "text center p-4">How it works?</h1>
      <div class="col-4 card5 shadow p-2 mb-5 bg-body border border-dark border-3">
        <h2 class="p-2">It's Super Easy!</h2>
        <p class= "p-1"><i class="fa-solid fa-list-check"></i></p>
        <ul>
          <li>Create a list</li>
          <li>Add gifts through URL or Location</li>
          <li>Share your list with friends and family</li>
        </ul>
      </div>
      <h3 class="mb-3"><%= link_to "Start now!", new_list_path, class:"btn btn-light btn-lg" %></h3>
    </div>
  </div>
</section>
<!--sexto container Special Date-->
<section class="container6">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 col-lg-6 car">
        <%= render "shared/carousel" %>
      </div>
      <div class="col-6 col-lg-6 list1">
        <h2 class="text-center">Make a list for a Specific Ocassion</h2>
        <div class="row">
          <div class="col-6">
            <ul class="list">
              <li>Birthday</li>
              <li>Wedding</li>
              <li>Anniversary</li>
              <li>Christmas</li>
              <li>Valentine's Day</li>
            </ul>
          </div>
          <div class="col-6">
            <ul class="list">
              <li>Fathers Day</li>
              <li>Mothers Day</li>
              <li>Graduation</li>
              <li>Baby Shower</li>
              <li>Other</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--septimo container Buuton sign-uo blog-->
<section class="container7">
  <div class="container">
    <div class="row text-center">
      <div class="col-6">
        <h3>Ready to create your first list?</h3>
        <i class="fa-solid fa-arrow-right"></i>
        <%= link_to "Sign Up!", new_list_path, class:"btn btn-light btn-lg" %>
      </div>
      <div class="col-6">
        <h3>Don't forget to visit our blog!</h3>
        <i class="fa-solid fa-arrow-right"></i>
        <%= link_to "Go now!", posts_path, class:"btn btn-light btn-lg" %>
      </div>
    </div>
  </div>
</section>
