<div class="container">
  <div class= "banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/free-photo/top-view-violet-gift-box_1150-6685.jpg?size=626&ext=jpg);">
    <div class="d-block">
      <h1>Welcome to our Blog!</h1>
      <p>Get inspired! Read our different posts. There is always something to celebrate!</p>
    </div>
  </div>
  <div class="row justify-content-center ">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-login">
        <h2>Edit this post</h2>
        <%= simple_form_for @post do |f| %>
          <div class="form-inputs">
            <%= f.input :title, placeholder: 'Title' %>
            <%= f.input :content, placeholder: 'Add content' %>
            <%= f.input :event_date, placeholder: 'Add event date'%>
            <%= f.input :photo, as: :file %>
            <%= f.submit "Save", class: "btn btn-primary rounded-pill text-center" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
