<div class= "blog__title">
  <div class= "banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1513201099705-a9746e1e201f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGdpZnRzfGVufDB8fDB8fHwy&auto=format&fit=crop&w=800&q=60);">
    <h1>Welcome to our Blog!</h1>
    <p>Here you can find all the latest news and updates from us.</p>
  </div>
  <strong>
    <div>
      <img src="https://cdn-icons-png.flaticon.com/128/2549/2549594.png" alt="icon">
      <h2>Posts</h2>
    </div>
  </strong>
</div>
<div class="posts-container">
  <% @posts.each do |post| %>
    <div class= "post">
      <%= link_to post do %>
        <%= image_tag post.photo.url %>
        <div class= "post_title" >
          <p><%= post.title %></p>
        </div>
        <div class= "post_content">
          <p><%= post.content %></p>
          <div class="btn btn-outline-info"> <%= link_to "Read more", post_path(post) %> </div>
        </div>
      <%end%>
    </div>
  <% end %>
</div>
<% if current_user.admin? %>
  <%= link_to "Add post", new_post_path %>
<%end%>
