<div class= "blog__title">
  <div class= "banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/free-photo/top-view-violet-gift-box_1150-6685.jpg?size=626&ext=jpg);">
    <div class="d-block">
      <h1>Welcome to our Blog!</h1>
      <p>Here you can find all the latest news and updates from us.</p>
    </div>
  </div>
  <div class="container pt-4">
    <div class="row">
      <div class="col-lg-8">
        <div class="row pb-3">
          <div class="col-12">
            <div class="d-flex justify-content-center">
              <img class= "i" src="https://cdn-icons-png.flaticon.com/128/2549/2549594.png" alt="icon">
              <h2> Posts </h2>
              <img class= "i" src="https://cdn-icons-png.flaticon.com/128/2549/2549594.png" alt="icon">
            </div>
          </div>
        </div>
        <div class="posts-container">
          <% @posts.each do |post| %>
            <div class= "post">
              <div> <%= link_to post do %>
                  <%= cl_image_tag post.photo.key %>
                  <div class= "post_title" >
                    <%= post.title %>
                  </div>
                  <div class= "post_content">
                    <p><%= post.content.truncate(70) %></p>
                    <div class="btn btn-outline-info btn-read">
                      <%= link_to "Read more", post_path(post) %>
                    </div>
                  </div>
                <%end%>
                <div class="card-footer text-right">
                  <small class="text-muted">
                    <p class="date">Created on:
                      <%= post.event_date %> </p>
                    <span class="font-weight-bold">
                      <p>-gibMi Team</p>
                    </span>
                  </small>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="d-none col-lg-4 d-lg-block">
        <div class="row pb-4">
          <div class="col-12">
            <div class="row pb-3">
              <div class="col-12">
                <div class="d-flex justify-content-center">
                  <img class="i" src="https://cdn-icons-png.flaticon.com/128/2549/2549594.png" alt="icon">
                  <h2>Recommended</h2>
                  <img class="i" src="https://cdn-icons-png.flaticon.com/128/2549/2549594.png" alt="icon">
                </div>
              </div>
              <% @top_posts.each_with_index do | post, index | %>
                <div class="list-group">
                  <%= link_to post_path(post), class: "list-group-item list-group-item-action" do %>
                    <div class = "row no-gutters">
                      <div class="col-auto d-flex align-items-center">
                        <small>
                          <%= index + 1 %>.
                        </small>
                        <div class="col-d-flex align-itmes-center px-1">
                          <%= cl_image_tag post.photo.key, class: "recommended-img" %>
                        </div>
                        <div class="col-9 d-flex align-items-inherit" class="title-recom">
                          <small>
                            <p> <%= post.title %> </p>
                          </small>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="d-flex justify-content-center">
              <img class="i" src="https://cdn-icons-png.flaticon.com/128/2549/2549594.png" alt="icon">
              <h2>Remember the Gift</h2>
              <img class="i" src="https://cdn-icons-png.flaticon.com/128/2549/2549594.png" alt="icon">
            </div>
            <div class="card-body">
              <p>Don't forget to give a gift to your loved ones.</p>
              <img class="signimg" src="https://images.unsplash.com/photo-1522543558187-768b6df7c25c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHB1cnBsZXxlbnwwfHwwfHx8Mg%3D%3D&auto=format&fit=crop&w=500&q=60">
            </div>
            <div>
              <h5 class="card-title">Sign up now and start the gibMi expierence!</h5>
              <p class="card-text">Make gift giving easy for everyone. </p>
              <div class="btn btn-primary">
                <%= link_to "Sign Up", new_user_registration_path %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= paginate @posts %>
  <% if current_user.admin? %>
    <div class="btn btn-primary">
      <%= link_to "Add a new post", new_post_path %>
    </div>
  <%end%>
</div>
