<!DOCTYPE html>
<html>
  <head>
    <title>Gibmi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
    <%= favicon_link_tag "logo.png", rel: "icon", type: "image/png" %>

    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKKmKU31CVKKl88v1lw_BqkIXhRKC-3Ro&libraries=places">
    </script>
  </head>

  <body>
  <%= render "shared/navbar" %>
  <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
